.main_page {
   box-shadow: 1px 1px 1px 1px #d6c9c9;
}

.upper_info {
   display: flex;

   padding: 1em;
}
.provider_logo_holder {
   width: 10em;
   height: 10em;
   margin-right: 3em;
   
}
.provider_logo {
   height: 100%;
   max-width: 100%;
   display: block;
   margin: auto;
   border-radius: 10px;
}
h1 {
   font-size: 2em;
   font-weight: bold;
}

.menu {
   display: flex;
}

.cart_card {
   margin-top: 5em;
}
